@charset "UTF-8";

/*
 EM HTML É ID =  EM CSS É # (so pode um elemento)
 EM HTML É CLASS = EM CSS É . (pode variar elementos)
 PODE COLOCAR H1#PRINCIPAL OU SOMENTE #PRINCIPAL
*/

body{
    background-color:#73FF71;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #136112;
}
h1#principal{
    text-align: center;
    background-color:#50B34F;
    color: white;
}
h2{
    color:#326F31;
}
.basico{
    color: #326F31;
}
.intermediario{
    color: #776f2b;
}
.avançado{
    color: #6f3131;
}
.destaque{
    background-color: rgba(206, 206, 52, 0.822);
}